---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { siteConfig } from "src/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body
		class="mx-auto flex min-h-screen w-full flex-col bg-bgColor px-6 pt-12 font-sans text-base font-normal text-textColor antialiased sm:px-20 lg:w-[90vw]"
	>
		<ThemeProvider />
		<SkipLink />
		<main id="main">
			<slot />
		</main>
	</body>
</html>
